<div class="content">
	<div class="title">
		<a class="button" href="/mac_addresses">CANCEL</a><%= @title %>
	</div>
	<div class="body clearfix">
		<%= error_messages_for(@mac_address) %>
		<div id="hints">
			<h3>HINTS</h3>
			<ul>
				<li>- You can paste a MAC Address into the <b>MAC Address</b> field</li>
				<li>- Enter the full name of the <b>User</b> who this MAC Address belongs to <i>(i.e. Joe Smith)</i></li>
				<li>- Set the <b>Expiration Date</b> to be the last day the user needs access. Accounts will be expired at 12AM daily</li>
				<li>- Don't want the account to expire? Try setting the <b>Expiration Date</b> decades in the future <i>(i.e. 01/01/2100)</i></li>
				<li>- Enter important details in the <b>Comment</b> section <i>(i.e. Help Request #123456, Visitor Joe Smith)</i></li>
			</ul>
		</div>
		<form action="<%= @mac_address.new? ? "/mac_addresses" : "/mac_addresses/edit" %>" method="post" accept-charset="utf-8">
			<p>
				<span class="label username">MAC Address:</span> <input class="username" id="macAddress" type="text" name="username" value="<%= @mac_address.username ||= "00:00:00:00:00:00" if @mac_address %>"/>
			</p><br />
			<p>
				<span class="label user">User's Name:</span> <input class="user" type="text" name="user" value="<%= @mac_address.user if @mac_address %>"/>
			</p><br />
			<p>
				<span class="label expiration">Expiration Date:</span> <input class="expiration" id="date" type="text" name="expiration_date" value="<%= expire_format(@mac_address.expiration_date ||= DateTime.now) if @mac_address %>"/> MM/DD/YY
			</p><br />
			<p>
				<span class="label comment">Comment:</span> <textarea class="comment" name="comment" rows="4" cols="30"><%= @mac_address.comment if @mac_address %></textarea>
			</p><br />
			<% if @mac_address && !@mac_address.new? %>
				<input name="id" type="hidden" value="<%= @mac_address.id if @mac_address %>" /><input name="created_by" type="hidden" value="<%= session[:username] %>" />
			<% end %>
			<p>
				<input type="submit" class="submit" value="SAVE"/>
			</p>
		</form>
	</div>
</div>
