<div class="content">
	<div class="title">
		<a class="button" href="/users/new">NEW USER</a><%= @title %>		
	</div>
	<div class="body">
		<table>
			<tr>
				<th class="account">ACCOUNT</th>
				<th class="date">CREATED BY</th>
				<th class="date">EXPIRES ON</th>
				<th class="comment">COMMENT</th>
				<th class="actions">ACTIONS</th>
			</tr>
			<% @users.each do |user| %>
				<tr>
					<td class="account"><%= user.username %></td>
					<td class="date"><%= user.created_by %></td>
					<td class="date"><%= expire_format(user.expiration_date) %> @ 12 PM</td>
					<td class="comment"><%= user.comment %></td>
					<td><a href="/users/<%= user.id %>">SHOW</a> | <a href="/users/<%= user.id %>/edit">EDIT</a> | <a class="destroyUser" href="/users/<%= user.id %>">DESTROY</a></td>
				</tr>
			<% end %>
		</table>
	</div>
</div>
